$maincolor: #000;
//TEXT========================================================================================================================================================

.title {
	font-weight: 700;
}

.descr {
	font-size: 24px;
	line-height: 29px;
	font-weight: 400;
	text-align: center;
}
//button========================================================================================================================================================
.blackbtn {
	background: #000000;
	border-radius: 5px;
	color: #fff;
	padding: 22px;
	font-weight: 700;
	width: 100%;
	letter-spacing: 0.05em;
	display: block;
	&:disabled {
		cursor: not-allowed;
	}
}

.greybtn {
	background: #f3f3f3;
	border-radius: 5px;
	color: #cdcdcd;
	padding: 22px;
	font-weight: 400;
	letter-spacing: 0.05em;
	display: block;
	&:disabled {
		cursor: not-allowed;
	}
}

.skipbtn {
	background: #f3f3f3;
	border-radius: 5px;
	color: #cdcdcd;
	padding: 22px;
	font-weight: 400;
	letter-spacing: 0.05em;
	display: block;
	&:disabled {
		cursor: not-allowed;
	}
}

//INPUT+TEXTAREA========================================================================================================================================================

.input {
	border: 1px solid transpatent;
	border-bottom: 1px solid #696969;
	width: 100%;
	box-shadow: unset !important;
	width: stretch;
	&:focus {
		box-shadow: unset !important;
		border: 1px solid transpatent;
		border-bottom: 1px solid #696969;
	}
	&::placeholder {
		color: #bababa;
	}
}

//OTHER========================================================================================================================================================

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 652px;
	max-width: 943px;
	width: 100%;
	background-color: #f8f8f8;
	border-radius: 30px;
	align-items: center;
	@media (max-width: 550px) {
		background-color: #fff;
	}
}

.container {
	max-width: 410px;
	width: 100%;
}
