//ACTIVATE========================================================================================================================================================

.activate {
	&__content {
		padding: 20px;
	}
	&__title {
		font-family: "Century Gothic";
		font-size: 48px;
		line-height: 59px;
		letter-spacing: 0.05em;
		margin-bottom: 70px;
		@media (max-width: 767.98px) {
			font-size: 36px;
			margin-bottom: 30px;
		}
	}
	&__descr {
		color: #3d3d3d;
		max-width: 680px;
		margin: 0 auto 50px;
		@media (max-width: 767.98px) {
			font-size: 18px;
			margin: 0 auto 25px;
		}
	}
	&__container {
		max-width: 410px;
		width: 100%;
	}
	&__input {
		display: block;
		background-color: #fff;
		&::placeholder {
			color: #bababa;
		}
		border: 1px solid #e5e5e5;
		border-radius: 5px;
		max-width: 410px;
		width: 100%;
		padding: 23px 40px 22px 16px;
		@media (max-width: 767.98px) {
			height: 44px;
			padding: 10px;
			font-size: 13px;
		}
	}
	&__blackbtn {
		display: block;
		margin: 60px 0px 0px 0px;
		max-height: 68px;
		max-width: 410px;
		font-size: 24px;
		letter-spacing: 0.05em;
		@media (max-width: 767.98px) {
			margin: 15px 0px 0px 0px;
			font-size: 16px;
			height: 44px;
			padding: 10px;
		}
	}
}

//MENU========================================================================================================================================================

.menu {
	&__content {
	}
	&__title {
		font-size: 36px;
		margin: 0px 0px 100px 0px;
		padding: 20px;
		text-align: center;
		@media (max-width: 767.98px) {
			margin: 0px 0px 30px 0px;
		}
	}
	&__container {
		text-align: center;
	}
	&__greenbtn {
		display: block;
		background: #57ad21;
		border-radius: 5px;
		color: #fff;
		padding: 22px;
		font-weight: 700;
		margin: 0px 0px 25px 0px;
		@media (max-width: 767.98px) {
			max-height: 61px;
			font-size: 18px;
		}
	}
	&__greybtn {
		display: block;
		margin: 0px 0px 130px 0px;
		@media (max-width: 767.98px) {
			max-height: 61px;
			font-size: 18px;
		}
	}
	&__skipbtn {
		max-height: 61px;
		display: block;
		@media (max-width: 767.98px) {
			max-height: 35px;
			font-size: 14px;
			padding: 10px;
		}
	}
}

//RATING========================================================================================================================================================

.rating {
	&__content {
	}
	&__title {
		font-family: "Century Gothic";
		font-size: 36px;
		margin: 0px 0px 30px 0px;
	}
	&__descr {
		font-family: "Century Gothic";
		@media (max-width: 767.98px) {
			font-size: 16px;
		}
	}
	&__container {
		text-align: center;
		max-width: 265px;
		width: 100%;
	}
	&__liststar {
		margin: 60px 0px 60px 0px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__star {
		padding: 0 4px;
		&.active,
		&.js-hover {
			svg path {
				stroke: #FFA51D;
				fill: #FFA51D;
			}
		}
	}
	&__input-title {
	}
	&__input {
		height: 80px;
		max-width: 265px;
		margin: 0px 0px 40px 0px;
		padding: 0px 0px 5px 0px;
		font-size: 15px;
		&::placeholder {
			color: #bababa;
		}
		@media (max-width: 767.98px) {
			margin: 0px 0px 35px 0px;
			height: 45px;
		}
	}
	&__blackbtn {
		max-width: 265px;
		max-height: 44px;
		padding: 10px;
		font-size: 16px;
		margin: 0px 0px 15px 0px;
		@media (max-width: 767.98px) {
			margin: 0px 0px 80px 0px;
		}
	}
	&__skipbtn {
		max-height: 35px;
		display: block;
		font-size: 14px;
		padding: 10px;
	}
}

//BADRATING========================================================================================================================================================

.badrating {
	&__content {
	}
	&__img {
		margin: 0px 0px 25px 0px;
	}
	&__descr {
		font-family: "Century Gothic";
		text-align: center;
		margin: 0px 0px 35px 0px;
		max-width: 795px;
		@media (max-width: 767.98px) {
			padding-left: 5px;
			padding-right: 5px;
			font-size: 14px;
			& p:first-child {
				margin: 0px 0px 15px 0px;
			}
		}
	}
	&__topic {
		position: relative;
		margin: 0px 0px 50px 0px;
		text-align: center;
		font-size: 16px;
		line-height: 19px;
		word-spacing: 26px;
		color: #6a6a6a;
		span {
			position: absolute;
			background-color: #e5e5e5;
			bottom: -3px;
			height: 130%;
			width: 2px;
			left: 50%;
		}
		@media (max-width: 767.98px) {
			font-size: 13px;
			margin: 0px 0px 30px 0px;
			span {
				left: 50%;
			}
		}
	}
	&__form {
	}
	&__container {
		text-align: center;
		max-width: 265px;
		width: 100%;
	}
	&__blackbtn {
		max-width: 265px;
		max-height: 44px;
		padding: 14px;
		font-size: 16px;
		margin: 0px 0px 15px 0px;
		@media (max-width: 767.98px) {
			font-size: 14px;
		}
	}
	&__greybtn {
		display: block;
		max-width: 265px;
		max-height: 35px;
		padding: 10px;
		font-size: 14px;
		margin: 0px 0px 15px 0px;
	}
	&__orangebtn {
		display: block;
		max-width: 265px;
		max-height: 35px;
		padding: 10px;
		font-size: 14px;
		margin: 0px 0px 15px 0px;
		color: #fff;
		background: #ff9900;
		border-radius: 5px;
		font-weight: 700;
	}
}

.form {
	display: flex;
	column-gap: 36px;
	margin: 0px 0px 55px 0px;
	@media (max-width: 767.98px) {
		flex-direction: column;
		column-gap: 0;
		row-gap: 15px;
		margin: 0px 0px 30px 0px;
	}
	&__column {
		flex: 0 0 50%;
		&_1 {
		}
		&_2 {
			display: flex;
			flex-direction: column;
			row-gap: 30px;
			@media (max-width: 767.98px) {
				row-gap: 15px;
			}
		}
	}

	&__message {
		border-bottom: 1px solid #696969;
		height: 100%;
		width: 100%;
		font-size: 15px;
		&::placeholder {
			color: #bababa;
		}
		@media (max-width: 767.98px) {
			height: 48px;
		}
	}
	&__row {
		display: flex;
		column-gap: 30px;
	}
	&__firstname {
		border-bottom: 1px solid #696969;
		padding: 0px 0px 30px 0px;
		max-width: 120px;
		font-size: 15px;  
		&::placeholder {
			color: #bababa;
		}
	}
	&__lastname {
		border-bottom: 1px solid #696969;
		padding: 0px 0px 30px 0px;
		max-width: 120px;
		font-size: 15px;
		&::placeholder {
			color: #bababa;
		}
	}
	&__email {
		border-bottom: 1px solid #696969;
		padding: 0px 0px 30px 0px;
		width: 100%;
		font-size: 15px;
		&::placeholder {
			color: #bababa;
		}
	}
}

//MIDRATING========================================================================================================================================================

.midrating {
	&__content {
		text-align: center;
	}
	&__img {
		margin: 0px 0px 30px 0px;
	}
	&__title {
		margin: 0px 0px 20px 0px;
		font-size: 36px;
		padding: 0px 20px 0px 20px;
	}
	&__descr {
		margin: 0px 0px 30px 0px;
		@media (max-width: 767.98px) {
			font-size: 16px;
			padding-left: 20px;
			padding-right: 20px;
		}
	}
	&__topic {
		position: relative;
		margin: 0px 0px 50px 0px;
		text-align: center;
		font-size: 16px;
		line-height: 19px;
		word-spacing: 26px;
		color: #6a6a6a;
		span {
			position: absolute;
			background-color: #696969;
			bottom: -3px;
			height: 130%;
			width: 2px;
			left: 50%;
		}
		@media (max-width: 767.98px) {
			font-size: 13px;
			margin: 0px 0px 30px 0px;
			span {
				left: 50%;
			}
		}
	}
	&__form {
	}
	&__container {
		text-align: center;
		max-width: 265px;
		width: 100%;
	}
	&__blackbtn {
		max-width: 265px;
		max-height: 44px;
		padding: 14px;
		font-size: 16px;
		margin: 0px 0px 15px 0px;
		@media (max-width: 767.98px) {
			font-size: 14px;
		}
	}
	&__greybtn {
		display: block;
		max-width: 265px;
		max-height: 35px;
		padding: 10px;
		font-size: 14px;
		margin: 0px 0px 15px 0px;
	}
	&__orangebtn {
		display: block;
		max-width: 265px;
		max-height: 35px;
		padding: 10px;
		font-size: 14px;
		margin: 0px 0px 15px 0px;
		color: #fff;
		background: #ff9900;
		border-radius: 5px;
		font-weight: 700;
	}
}

.form {
	&__column {
		&_1 {
		}
		&_2 {
		}
	}
	&__message {
	}
	&__row {
	}
	&__firstname {
	}
	&__lastname {
	}
	&__email {
	}
}

//GOODRATING========================================================================================================================================================

.goodrating {
	&__content {
		text-align: center;
	}
	&__img {
		margin: 0px 0px 20px 0px;
		@media (max-width: 767.98px) {
			margin-bottom: 10px;
		}
	}
	&__title {
		font-size: 36px;
		font-family: "Century Gothic";
		margin: 0px 0px 55px 0px;
		@media (max-width: 767.98px) {
			margin-bottom: 30px;
		}
	}
	&__descrtop {
		font-family: "Century Gothic";
		margin: 0px 0px 20px 0px;
		max-width: 460px;
		font-size: 24px;
		@media (max-width: 767.98px) {
			font-size: 16px;
			margin: 0;
		}
	}
	&__descrbutton {
		font-family: "Century Gothic";
		margin: 0px 0px 60px 0px;
		max-width: 582px;
		font-size: 24px;
		@media (max-width: 767.98px) {
			font-size: 16px;
			padding: 0 6px 0;
			margin-bottom: 30px;
		}
	}
	&__container {
		max-width: 347px;
		width: 100%;
	}
	&__orangebtn {
		display: block;
		margin: 0px 0px 35px 0px;
		background: #ff9900;
		border-radius: 5px;
		color: #fff;
		padding: 20px 14px;
		font-weight: 700;
		font-size: 18px;
		line-height: 22px;
		// max-height: 58px;
		height: 100%;
		width: 100%;
		@media (max-width: 767.98px) {
			font-size: 14px;
			margin: 0px 0px 150px 0px;
			// min-height: 61px;
		}
	}
	&__skipbtn {
		display: block;
		max-height: 35px;
		font-size: 14px;
		padding: 10px;
	}
}

//CONTACT US========================================================================================================================================================
.contactus {
	&__content {
	}
	&__title {
		font-size: 36px;
		margin: 0px 0px 60px 0px;
	}
	&__tel {
		position: relative;
		margin: 0px 0px 13px 0px;
		font-weight: bold;
		&::before {
			content: url("../images/call.png");
			position: absolute;
			left: -38px;
			top: -1px;
		}
		@media (max-width: 767.98px) {
			font-size: 18px;
			margin-bottom: 25px;
		}
	}
	&__descr {
		font-size: 12px;
		line-height: 15px;
		letter-spacing: 0.06em;
		color: #3d3d3d;
		margin: 0px 0px 55px 0px;
		& p:first-child {
			margin: 0px 0px 12px 0px;
			@media (max-width: 767.98px) {
				margin-bottom: 6px;
			}
		}
		& p:last-child {
			@media (max-width: 767.98px) {
				max-width: 130px;
			}
		}
	}
	&__form {
	}
}

.forms {
	padding: 20px 15px;
	border: 1px solid #e5e5e5;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	max-width: 300px;
	max-height: 222px;
	//column-gap: 35px;
	@media (max-width: 767.98px) {
		//row-gap: 15px;
	}

	&__row {
		display: flex;
		column-gap: 35px;
		&_1 {
			margin: 0px 0px 20px 0px;
		}
		&_2 {
		}
	}
	&__nameus {
		border-bottom: 1px solid #696969;
		padding: 0px 0px 25px 0px;
		max-width: 115px;
		font-size: 15px;
		&::placeholder {
			color: #bababa;
		}
	}
	&__emailus {
		border-bottom: 1px solid #696969;
		padding: 0px 0px 25px 0px;
		max-width: 115px;
		font-size: 15px;
		&::placeholder {
			color: #bababa;
		}
	}
	&__messageus {
		border-bottom: 1px solid #696969;
		padding: 0px 0px 5px 0px;
		width: 100%;
		font-size: 15px;
		height: 45px;
		margin: 0px 0px 35px 0px;
		&::placeholder {
			color: #bababa;
		}
	}
	&__blackbtn {
		max-width: 265px;
		max-height: 44px;
		padding: 14px;
		font-size: 16px;
		margin: 0px 0px 15px 0px;
	}
}

//GETSTARTED========================================================================================================================================================

.getstarted {
	&__content {
		text-align: center;
	}
	&__title {
		font-size: 36px;
		margin: 0px 0px 75px 0px;
		font-family: "Century Gothic";
	}
	&__subtitle {
		font-size: 24px;
		margin: 0px 0px 80px 0px;
		padding: 0px 20px 0px 20px;
		font-weight: 700;
		@media (max-width: 768.98px) {
			margin: 0px 0px 35px 0px;
		}
	}
	&__container {
		min-width: 265px;
		text-align: center;
	}
	&__video {
		max-width: 264px;
		min-height: 151px;
		width: 100%;
		background: #ffffff;
		border: 2px solid #bababa;
		border-radius: 6px;
		margin: 0px 0px 75px 0px;
		position: relative;
	}
	&__video-icon {
		position: absolute;
		transform: translate(-50%, -50%);
		top: 50%;
		left: 50%;
		z-index: 20;
	}
	&__blackbtn {
		display: block;
		max-width: 265px;
		padding: 14px;
		font-size: 16px;
	}
}
